* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

#home {
    position: absolute;
    filter: invert(0.5);
    float: left;
    left: 20px;
}

nav {
    background-color: black;
    height: 55px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

nav ul {
    text-align: center;
}

nav li {
    display: inline-block;
    margin:0;
    padding: 10px;
    background-image: url("./resources/images/black.png");
    transition: background-image 1s;
    background-size: 200px;
}

nav a {
    font-size: 30px;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
}

nav a:link {
    text-decoration: none;
    color: white;
    transition: background-image 0.3s;
}

#colors:hover {
    background-image: url("./resources/images/diagonal_rainbow.png");
    transition: background-image 0.3s;
    background-size: auto;
}

#current_colors {
    background-image: url("./resources/images/diagonal_rainbow.png");
}

#fonts:hover {
    background-image: url("./resources/images/fonts.png");
    transition: background-image 0.2s;
    background-size: 200px;
}

#current_fonts {
    background-image: url("./resources/images/fonts.png");
    background-size: 200px;
}

#text-style:hover {
    background-image: url("./resources/images/textstyles.png");
    transition: background-image 0.2s;
    background-size: 200px;
}

#current_text-style {
    background-image: url("./resources/images/textstyles.png");
    background-size: 200px;
}

#additional-style:hover {
    background-image: url("./resources/images/additional_styles.png");
    transition: background-image 0.2s, color 0.5s;
    background-size: 200px;
    color: black;
}


#current_additional-style {
    background-image: url("./resources/images/additional_styles.png");
    color: black;
    background-size: 200px;
}

#current_additional-style a:hover {
    color: black;
}

h1 {
    display: block;
    text-align: center;
    background-image: url("./resources/images/webdesign.jpg");
    color: white;
    font-size: 70px;
    padding: 100px;
}

main {
    margin-bottom: 150px;
    padding: 0 50px;
}

h2 {
    display: block;
    text-align: center;
    font-size: 40px;
    position: relative;
    top: 50px;
    padding: 50px 100px;
    margin-bottom: 50px;
}

h3 {
    margin-top: 20px;
}

div.color {
    display: inline-block;
    width: 19%;
    text-align: center;
    padding: 30px;
    color: white;
}

#color_1 {
    background-color: #373E98;
}

#color_2 {
    background-color: #F16775;
}

#color_3 {
    background-color: #FEE36E;
}

#color_4 {
    background-color: #CEB92C;
}

#color_5 {
    background-color: #2A2A2A;
}

#color_6 {
    background-color: #141414;
}

#color_7 {
    background-color: #565656;
}

#color_8 {
    background-color: #9E9E9E;
}

#color_9 {
    background-color: #FBA92C;
}

#color_10 {
    background-color: #FFFFFF;
    color: black;
}

#color_11 {
    background-color: #C8B7A6;
}
#color_12 {
    background-color: #7D94B5;
}
#color_13 {
    background-color: #C29591;
}
#color_14 {
    background-color: #703F37;
    color: white;
}
#color_15 {
    background-color: #B6C199;
}
#color_16 {
    background-color: #ADB699;
}
#color_17 {
    background-color: #FFE26A;
}
#color_18 {
    background-color: #75C9B7;
}
#color_19 {
    background-color: #C7DDCC;
}
#color_20 {
    background-color: #16123F;
    color: white;
}


footer {
    position: fixed;
    width: 100%;
    height: 40px;
    bottom: 0;
    background-color: black;
}

footer h4 {
    text-align: center;
    color: white;
    padding: 10px;
    font-size: 15px;
}
